/*
 *
 * This CSS is formatted to be mobile-first and comply
 * with current recommended standards. At the bottom
 * of the page, you will find the corresponding media
 * queries for desktop (>1024px) and tablet (>768px & <1023px) renderings.
 *
 */

body {

    font-size: 15px;
    background-color: #000;
    color: #FFF;
    width: 100%;

}

#container {

    min-height: 82vh;
    width: 100%;

}

#header {

    width: 100%;


}

#content {

    width: 75%;
    left: 50%;
    transform: translate(-50%);
    position: relative;

}

#footer {

background-color: black;
text-align: center;
width: 100%;
height: 18vh;
position: relative;
bottom: 0px;

}

#footer p {

    text-indent: 0%;

}

h2 {

    font-size: 1.2em;

}

.fa {

    text-decoration: none;
    padding: 10px;
    font-size: 19px;
    margin: 10px 10px 20px 10px;

}

.fa-instagram {

    background-color:#125688;
    color:white;
    text-decoration: none;

}

.fa-twitter {

    background-color: #55ACEE;
    color:white;
    text-decoration: none;

}

.fa-coffee {

    background-color:  white;
    color: black;
    text-decoration: none;

}

.fa-reddit {

    background-color: #FFF;
    color: #FF4500;
    text-decoration: none;

}

#splash-img {

    height: 50vh;
    background-image: url("../3_images/splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;

}

#splash-text {

    font-size: 30px;
    font-weight: bold;

}

a {

    text-decoration: none;

}

li {

    list-style:none;

}

.nav-bar {

    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    width: 100vw;
    height: 0px;
    padding: 20px;

}

.nav-links {

    width: 100%;
    padding: 0px;

}

.nav-links a {

    color: #FFF;

}

.menu {

    max-height: 0px;
    width: 50%;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    gap: 1em;
    font-size: 18px;
    text-align: center;
    position: fixed;
    left: 25%;
    top: 0%;

}

.menu li:hover {

    background-color: rgb(43, 43, 43);
    transition: 0.3s ease;

}

.menu li a {

    padding: 5px 14px;
    display: block;
    border-bottom: white 1px solid;

}

input[type=checkbox]{

    display:none;
    position: absolute;
    top: 0;
    right: 0;

}

input[type=checkbox]:checked ~ .menu{

    max-height: 300px;
    

}

.hamburger {

    font-size: 28px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 25px;

}

.overlay-content {

    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    position: fixed;
    height: 100vh;
    top: 0%;
    left: 0%;
    width: 0%;
    transition:0.3s;
    text-align: center;
    z-index: 2;
    padding-top: 150px;

}

.overlay-content a {

    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 30px;

}

.overlay-content a:hover {

    background-color: rgb(43, 43, 43);

}

.openBtn {

position: fixed;
top: 0%;
right: 0%;

}

.closeBtn {

    font-size: 40px;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 0px 15px;

}

.attention-bg {

    font-size: 30px;
    text-indent: 0%;
    padding: 50px 0px 50px 0px;

}

.attention-sm {

    font-size: 25px;
    text-indent: 0%;
    padding: 50px 0px 50px 0px;

}

p {

    text-indent: 1.5em;
    padding: 15px;

}

.collection {

    width: 100%;
    margin-top: 50px;

}

.card-content {

    background-color:white;
    color: black;
    padding: 30px;
    margin-bottom: 50px;

}

.release-info {

    display: block;

}

time, address {

    display: inline-block;
    padding: 0px 5px;

}

.release-title {
    
    display: inline-block;

}

.label-1 {

   background-color:#55ACEE;
   padding: 15px;
   text-indent: 0px;
   color: black;

}

.label-2 {

    background-color:#FF4500;
    padding: 15px;
    text-indent: 0px;
    color: black;

}

.label-3 {

    background-color:rgb(101, 189, 101);
    padding: 15px;
    text-indent: 0px;
    color: black;

}

.border-label-1 {

    border-top: 10px solid #55ACEE;
 
 }
 
 .border-label-2 {
 
    border-top: 10px solid #FF4500;
 }
 
 .border-label-3 {
 
     border-top: 10px solid rgb(101, 189, 101);
 
 }

.card-row {

    display: block;
    text-align: center;

}

.card-sm {

    background-color: white;
    color: black;
    display: block;
    width: 100%;
    padding: 25px;
    margin: 50px 0px;
    text-align: center;

}

aside {

    display: block;
    margin: auto;
    background-color: white;
    color: black;
    width: 100%;
    padding: 25px;
    text-align: center;

}

.story-content {

    background-image: url("../3_images/marble-2371776_960_720.webp");
    padding: 50px;
    color: black;

}

/*
 *
 * The following CSS media query governs the rendering
 * for desktop devices.
 *
 */

 
@media screen and (min-width: 1025px) {

    body {

    }

    #container {

        min-height: 85vh;
    
    }
    
    #header {
    
    
    
    }
    
    #content {
    
    }
    
    aside {

        width: 25%;
        margin: 50px;
        padding: 5px;
        float: right;

    }

    .story-content {

        margin: 25px 100px;

    }

    #footer {
        
    height: 15vh;
    position: relative;
    bottom: 0px;
    
    }


    .nav-bar {

        width: 100%;

    }

    .overlay-content{

        display: none;

    }

    .openBtn {

        display: none;

    }

    .menu {

        max-height: 600px;
        width: 50%;
        display: flex;
        position: relative;
        transform: translate(50%);
        justify-content: center;
        left: 0;

    }

    #splash-text {


    }

    .attention-bg {


        text-indent: 0%;
        padding: 50px 0px 50px 0px;
    
    }

    .attention-sm {


        text-indent: 0%;
        padding: 50px 0px 50px 0px;
    
    }

    p {

        font-size: 18px;

    }

    .release-info {

        display: block;
        position: relative;
        padding: 20px;
    
    }

    .card-content {

        margin-bottom: 100px;

    }
    
    .card-sm {
    
        background-color: white;
        color: black;
        display: inline-block;
        width: 25%;
        padding: 25px;
        margin: 25px;
        text-align: center;
    
    }

}

/*
 *
 * The following CSS media query governs the rendering
 * for tablet-sized devices.
 *
 */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    body {

        font-size: 25px;

    }

    #container {

        min-height: 88vh;
    
    }
    
    #header {
    
    
    
    }
    
    #content {
    
    }
    
    #footer {
    
    width: 100%;
    height: 12vh;
    position: relative;
    bottom: 0px;
    
    }



    .hamburger {

        font-size: 50px;
        padding: 50px;

    }
    

}